<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/sign-in.css">
    <title>Sign In</title>
</head>
<body>
    <div class="sign-in-container">
    <h1>Sign In</h1>
    <p>Don't have an account? <a href="/auth/sign-up">Sign Up</a></p>
    <form action="/auth/sign-in" method="post">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Email" required>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Sign In</button>
    </form>
    </div>
</body>
</html>