<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users/<%= user._id %>/bank-accounts">Dashboard</a></li>
        <li><a href="/auth/sign-out">Sign out</a></li>
        <li><a href="/auth/sign-in">Sign in</a></li>
        <li><a href="/users/<%= user._id %>/bank-accounts/new">Add Card</a></li>
    </ul>
</nav>