<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank App</title>
</head>
<body>
    <h1>Welcome <%= user.firstName %> to GA Bank App</h1>
    <p>This is a simple bank app.</p>
    <ul>
        <li><a href="/users/<%= user._id %>/bank-accounts">View your Account</a></li>
        <li><a href="/bank-app/new">Add New card</a></li>
        <li><a href="/auth/sign-out">Sign out</a></li>
    </ul>

</body>
</html>