<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applications</title>
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>
    <h1>Welcome to GA Bank</h1>
    <h2>this is sample bank app</h2>  
    <a href="/users/<%= user._id %>/bank-accounts/show">Dashboard</a>
 
</body>
</html>