<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applications</title>
</head>
<body>
    <h1>GA Bank App</h1>
    <h2>Welcome <%= user.firstName %> to GA Bank App</h2>
    <ul>
        <li><a href="/users/<%=user._id%>/bank-accounts/show/<%= application._id%>">View your Account</a></li>
        <li><a href="/users/<%=user._id%>/bank-accounts/new">Add New card</a></li>
    </ul>
    
</body>
</html>