<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/_navbar.ejs') %>
    <title>Open new Account</title>
    <form action="/users/<%=user._id%>/bank-accounts/cards" method="POST">
        <label for="cardType">Card Type</label>
        <select name="cardType" id="cardType">
            <option value="Visa">Visa</option>
            <option value="Mastercard">Mastercard</option>
        <option value="Discover">Discover</option>
        <option value="American Express">American Express</option>
    </select>
    <label for="phoneNumber">Phone Number</label>
    <input type="text" name="phoneNumber" id="phoneNumber">
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" id="firstName">
    <label for="lastName">Last Card Name</label>
    <input type="text" name="lastName" id="lastName">
    <button type="submit">Add new card</button>
    </form>
    <form action="/users/<%=user._id%>/bank-accounts" method="POST">
        <label for="type">Account Type</label>
        <select name="type" id="type">
            <option value="Checking">Checking</option>
            <option value="Savings">Savings</option>
        </select>
        <label for="name">Account Name</label>
        <input type="text" name="name" id="name">
        <button type="submit">Add new account</button>
    </form>
</body>
</html>