<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Withdraw</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Withdraw</h1>
    <form action="/applications/<%= application._id %>/withdraw" method="POST">
        <label for="amount">Amount</label>
        <input type="number" name="amount" placeholder="Amount">
        <label for="description">Description</label>
        <input type="text" name="description" placeholder="Description">
        <button type="submit">Withdraw</button>
    </form>
</body>
</html>