body{
    background-image: url(https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
 }
 .navbar{
    background-color: #e2e7ee;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #135bea;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(244, 4, 4, 0.1);
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 0 10px rgba(250, 8, 8, 0.958);
    background-color: #f2f4f6;
}
.title{
    font-size: 20px;
    font-weight: bold;
    color: #135bea;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(244, 4, 4, 0.1);
    border: 2px solid #135bea;
    padding: 10px;
    border-radius: 10px;
    background-color: #f2f4f6;
    box-shadow: 0 0 10px rgba(250, 8, 8, 0.958);
}
.add-new-account{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #135bea;
    padding: 10px;
    border-radius: 10px;
    background-color: #f2f4f6;
    box-shadow: 0 0 10px rgba(250, 8, 8, 0.958);
}
.add-new-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #2f73fa;
    padding: 10px;
    border-radius: 10px;
    background-color: #f2f4f6;
    box-shadow: 0 0 10px rgba(250, 8, 8, 0.958);
}
.button{
    background-color: #135bea;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
